<!DOCTYPE html>

<html lang="en-us">

<head>

    <meta charset="UTF-8" />
    <meta name="author" content="Dean Podsakoff">
    <meta name="description" content="Contact page">
    <title>Handy Helper</title>
    <link rel="stylesheet" href="contact.css">
    <link rel="icon" href="/images/logo.png" type="image/x-icon">

</head>

<body>

    <header>

                
                <nav>

                    <div class="container-1">

                        <div class="box one"><img src="/images/logo.png" alt="logo"></div>

                        <div class="box two"><img src="/images/HandyHelper.png" alt="Handy Helper"></div>

                        <div class="box three"><a href="services.html">Services</a></div>

                        <div class="box four"><a href="pricing.html">Pricing</a></div>

                        <div class="box six"><a href="contact.html">Contact</a></div>

                        <div class="box five"><a href="about.html">About</a></div>

                    </div>

                </nav>

        </header>

</header>

    </Header>

    <main>    

        <section class="contact">
            
            <H1>Tell me about your project</H1>

            <div class="container-2">

                <div class="help">

                    <h2>To help the process</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, quidem enim delectus quam repellat animi corrupti fuga sapiente adipisci nam! Odit laborum excepturi error delectus quibusdam rerum voluptas id earum.</p>

                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta expedita enim, ipsa molestias fugit excepturi consequuntur atque a velit beatae officia consequatur repudiandae esse eveniet voluptatem quibusdam harum ducimus! Reprehenderit!</p>

                </div>

                <form class="input" action="/submit_form" method="POST">

                    <fieldset>

                        <legend></legend>

                                <div class="fill">
                                    <label for="name">Name</label>
                                    <br>
                                    <input type="text" name="name" id="name">
                                </div>
                       
                                <div class="fill">
                                    <label for="email">Email</label>
                                    <br>
                                    <input type="email" name="email" id="email">
                                </div>
                                
                                <div class="fill">
                                    <label for="address">Address</label>
                                    <br>
                                    <input type="text" name="address" id="address">
                                </div>

                                <div>
                                    <label for="message">Message:</label><br>
                                <textarea id="message" name="message" rows="5" required></textarea><br><br>
                                </div>

                                <div class="fill">
                                    <label for="start">Preferred start date</label>
                                    <br>
                                    <input type="date" name="start" id="start">
                                </div>
                                
                               <div class="fill">
                                    <label for="description">Tell me about your project</label>
                                    <br>
                                    <textarea name="description" id="description" placeholder="fix my door"> </textarea>
                                </div>

                                <div class="fill">
                                    <label for="file">upload a picture</label>
                                <br>
                                <input type="file" id="file" accept="image/png, image/jpeg">
                                </div>

                                <div class="fill">
                                    <label for="method">Preferred method of contact</label>
                                </div>

                                <div class="check">
                                    <input type="checkbox" name="email" id="email"><br>
                                    <label for="email">Email</label>
                                    <input type="checkbox" name="text" id="text">
                                    <label for="text">Text</label>
                                    <input type="checkbox" name="call" id="call">
                                    <label for="call">Call</label>
                                </div>

                                <div class="fill">
                                    <input type="submit" value="Send message">
                                </div>

                    </fieldset>

                </form>

            </div>

        </section>

    </main>
    
</body>

</html>